<?xml version="1.0" ?>

<!-- simulate example robot with example controller in the challenge scenario -->

<launch>

  <!-- launch Gazebo in the Group Challenge world -->
  <!-- use `roslaunch farscope_example_robot_simulate use_gui:=false` to turn off Gazebo GUI -->
  <!-- use `roslaunch farscope_example_robot_simulate scenario:=<file>` to change scenario file -->
  <!-- e.g. `scenario:=$(find farscope_group_project)/scenarios/all_no_random.yaml` all trophies, perfectly placed -->
  <arg name="scenario_file" default="$(find farscope_project_entry)/scenarios/all_duplicates.yaml" />
  <arg name="use_gui" default="true" />
  <include file="$(find farscope_project_entry)/launch/simulator_only.launch">
    <arg name="use_gui" value="$(arg use_gui)" />
    <arg name="scenario_file" value="$(arg scenario_file)" />
  </include>

  <!-- run example controller -->
  <node name="robot_controller" pkg="farscope_project_entry" type="our_controller.py" />

</launch>
