<?xml version="1.0" ?>

<!-- simulate example robot with example controller in the challenge scenario -->

<launch>

  <!-- launch Gazebo in the Group Challenge world -->
  <!-- use `roslaunch farscope_example_robot_simulate use_gui:=false` to turn off Gazebo GUI -->
  <!-- use `roslaunch farscope_example_robot_simulate scenario:=<file>` to change scenario file -->
  <!-- e.g. `scenario:=$(find farscope_group_project)/scenarios/all_no_random.yaml` all trophies, perfectly placed -->
  <arg name="scenario_file" default="$(find farscope_project_entry)/scenarios/all_no_random.yaml" />
  <arg name="use_gui" default="true" />
  <include file="$(find farscope_project_entry)/launch/simulator_only.launch">
    <arg name="use_gui" value="$(arg use_gui)" />
    <arg name="scenario_file" value="$(arg scenario_file)" />
  </include>

  <!-- load the example robot description-->
  <param name="robot_description" command="$(find xacro)/xacro $(find farscope_project_entry)/models/farscope_new_gripper_robot.urdf.xacro" />


  <!-- you shouldn't need to edit the stuff *above* here in this file -->
  <!-- as that just runs the simulator and passes your choice of scenario and GUI setting -->

  <!-- edit *below* here to add your nodes and parameters for robot control -->

  <!-- Base controller -->
  <node name="robot_base_controller" pkg="farscope_project_entry" type="base_controller.py" output="screen"/>

  <!-- Strategy -->
  <arg name="data_file" default="$(find farscope_project_entry)/scripts/data.json" />
  <node name="strategy" pkg="farscope_project_entry" type="strategy.py" output="screen" args="$(arg scenario_file) $(arg data_file)"/>

  <!-- Gripper -->
  <node name="manipulator" pkg="farscope_project_entry" type="manipulator_node.py" output="screen"/>

  <!-- Map server provided map source -->
  <arg name="map_file" default="$(find farscope_project_entry)/maps/sim_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map"/>
  </node>

  <!-- AMCL localisation algorithm -->
  <include file="$(find farscope_project_entry)/launch/amcl.launch" />

  <!-- The path planning stuff -->
  <include file="$(find farscope_project_entry)/launch/path_plan_and_move_base.launch" />
</launch>